import React from 'react';

import './<%=name%>.scss';

const <%=name | capitalize %>Component = ({ }) => {
	return (
		<div className="<%=name%>">
			<%=name | capitalize%> works fine!
		</div>
	);
}

export default <%=name | capitalize%>Component;