import React from 'react';

import './<%=name%>.scss';

const pkg = require('<%=path('package.json')%>');

const <%=c(name)%>Component = () => {
	console.info(`App version: ${pkg.version}`);
	
	return (
		<div className="<%=name%>">
			<%=c(name)%> works fine!
		</div>
	);
}

export default <%=c(name)%>Component;