import React from 'react';

import './<%=name%>.scss';

const pkg = require('<%=path('package.json')%>');

const <%=C(name)%>Component = () => {
	console.info(`App version: ${pkg.version}`);
	
	return (
		<div className="<%=name%>">
			<%=C(name)%> works fine!
		</div>
	);
}

export default <%=C(name)%>Component;